<%- include('../partials/header.ejs', { user, pokemon }) %> 

<h1><%= user.id %> users id number</h1>

<h2><%= pokemon.id %></h2>
<h2> <%= pokemon.name %> </h2>
<img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">

<form method="post" action="/users/profile">
    <input hidden type="text" name="name" value="<%= pokemon.name %>">
    <!-- type submit sends data over to user -->
    <button class="btn" type="submit">Favorite me!</button>
</form>


<!-- if has only one type displays one, if more then display 2 -->
<% if (pokemon.types.length === 2) { %>
    <h2> <%= pokemon.types[0].type.name %> </h2>
    <h2> <%= pokemon.types[1].type.name %> </h2>
<% } else { %>
    <h2> <%= pokemon.types[0].type.name %> </h2>
<% } %>



<%- include('../partials/footer.ejs') %> 