<%- include('../partials/header.ejs', { user, pokemon, pokemonComments, allUsers }) %> 

<h1><%= user.id %> users id number</h1>



<h2><%= pokemon.id %></h2>
<h2> <%= pokemon.name %> </h2>
<img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">

<form method="post" action="/users/profile">
    <input hidden type="text" name="name" value="<%= pokemon.name %>">
    <!-- type submit sends data over to user -->
    <button class="btn" type="submit">Favorite me!</button>
</form>


<!-- if has only one type displays one, if more then display 2 -->
<% if (pokemon.types.length === 2) { %>
    <h2> <%= pokemon.types[0].type.name %> </h2>
    <h2> <%= pokemon.types[1].type.name %> </h2>
<% } else { %>
    <h2> <%= pokemon.types[0].type.name %> </h2>
<% } %>


<!-- submiting new comments -->
<form action="/users/pokemonList/<%= pokemon.name %>" method="post">

    <div class="form-group">
        <label for="content">Pokemon comments</label> <br>
        <input id="<%= user.id %>" type="text" placeholder="Enter Your Comment..." name="comment"  required />
      </div>

      <input type="submit" class="btn">

</form>


<h3></h3>

<div>
    <br>
    <h1>pokemon comments!</h1>
    <% pokemonComments.forEach(comments => { %>
        
        <% if(comments.userId && comments.pokemonId === pokemon.id ) { %>
<!-- delete -->

            <form action="/users/pokemonList/<%= pokemon.name %>?_method=DELETE" method="post">
                
                <h3> <%= allUsers[comments.userId - 1].username  %> - <%= comments.content  %></h3>


                <input hidden type="text" name="content" value="<%= comments.content %>">
                <button type="submit" value="delete" id="delete" >delete</button>
            </form>

            <!-- ?_method=PUT to edit -->
            <!-- edit -->
            <form action="/users/pokemonList/<%= pokemon.name %>?_method=PUT" method="post">
                <input type="text" name="editContent" value="<%= comments.content %>">
                <button type="submit" value="edit" id="edit" >edit</button>
            </form>




        <% } %>
        
    <% }) %>

</div>



<%- include('../partials/footer.ejs') %> 