<%- include('../partials/header.ejs', { user, pokemon }) %> 

<h3>list of pokemon 1 to 890, up to gen 8, sword and sheild</h3>


<% pokemon.forEach((pokemons, i) => { %>
    
    <ol><%= i +1 %> - <a href="/users/pokemonList/<%= pokemons.name%>"><%= pokemons.name %></a> </ol>

<% }) %>


<%- include('../partials/footer.ejs') %> 