<%- include('../partials/header.ejs', { user, favPokemons, userId, allUsers, userComments }) %> 



<h3>Hey, <%= user.username %> thanks for logging into the app!</h3>

<h1><%= userId %>= IS THE users id number</h1>




<% favPokemons.forEach(pokemons => { %>
    <div  style="background-color:#9dbad6">

        <form action="/users/profile" method="delete">
            <h2> <a href="/users/pokemonList/<%= pokemons.pokemonName %>"> <%= pokemons.pokemonName %> </a> </h2>
            <input type="submit" value="Delete!">
        </form>

    </div>
<% }) %>


<!-- post a new comment on world chat -->
<form action="/users/profile/comment" method="post">

    <div class="form-group">
        <label for="content">World Chat</label> <br>
        <input id="content" type="text" placeholder="Enter Your Comment..." name="comment" required ></textarea>
      </div>

      <input type="submit" class="btn">

</form>




<div>

    <% userComments.forEach(comments => { %>
        
        <% if(comments.userId && comments.pokemonId === null) { %>
            <!-- finds which user said what -->
            <h3><%= allUsers[comments.userId - 1].username  %> --- <%= comments.content  %></h3>
        <% } %>

    <% }) %>

</div>






<%- include('../partials/footer.ejs') %> 


