<%- include('../partials/header.ejs', { user, favPokemons, userId, allUsers, userComments }) %> 



<h3>Hey, <%= user.username %> thanks for logging into the app!</h3>

<h1><%= user.id %>= IS THE users id number</h1>




<% favPokemons.forEach(pokemons => { %>
    <h2> <a href="/users/pokemonList/<%= pokemons.pokemonName %>"> <%= pokemons.pokemonName %> </a> </h2>
<% }) %>


<form action="/users/profile" method="">

    <div class="form-group">
        <label for="content">World Chat</label> <br>
        <textarea id="content" type="text" placeholder="Enter Your Comment..." name="content" required ></textarea>
      </div>

      <input type="submit" class="btn">

</form>


<h3><%= userComments.userId %></h3>


<div>

    <% userComments.forEach(comments => { %>
        
        <% if(comments.userId && comments.pokemonId === null) { %>
            <h3><%= comments.content  %></h3>
        <% } %>

    <% }) %>

</div>






<%- include('../partials/footer.ejs') %> 


